site_name: Portfolio Performance Vorabpauschale Extension Dokumentation
docs_dir: source
theme:
  name: material
  variant: classic
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.indexes
    - toc.integrate
    - navigation.top
    - navigation.footer
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - content.action.edit
  palette:
    - schema: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Zum dunklen Modus wechseln
      primary: indigo
      accent: blue
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Zum hellen Modus wechseln
		primary: indigo
		accent: light blue
extra:
  generator: false
plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: true
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
nav:
  - 'index.md'
  - 'quick-start.md'
  - 'Excel Export':
      - 'chapter/export/export.md'
	  - 'chapter/export/metadata.md'
  - 'Mitwirkung':
	  - 'chapter/contribution/contribution.md'
  - 'Roadmap':
	  - 'chapter/roadmap/roadmap.md'
  - 'Technische Details':
	    - 'chapter/details/technical-details.md'
  - 'Legal':
	  - 'chapter/legal/haftungsauschluss.md'
repo_url: https://github.com/MelleD/portfolio-performance-vorabpauschale
edit_uri: blob/master/docs/source/