name: 'Build'

on:
  pull_request_target:
    branches:
      - main
  push:
    branches:
      - main

env:
  MAVEN_BUILD_OPTS: -B -V --no-transfer-progress

jobs:
  build:
    permissions:
      contents: read
      pull-requests: write
      issues: write
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Label issues
        uses: github/issue-labeler@v3.4
        if: github.event_name == 'pull_request_target'
        with:
          configuration-path: .github/labeler.yml
          include-title: 1
          include-body: 0
          enable-versioned-regex: 0
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Setup Git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      
      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: maven-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            maven-${{ runner.os }}-
      
      - name: Build with Maven
        run: |
          mvn clean verify \
            ${{ env.MAVEN_BUILD_OPTS }} \
            -DskipTests
		        
		        